/* Fejléc stílusa */

header {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}


/* Menüpontok stílusa */

.nav-link {
    font-weight: bold;
}

.nav {
    background-color: #007bff;
}

.navbar {
    color: white;
}


/* Aktív menüpont stílusa */

.nav-item.active .nav-link {
    color: white;
}


/* Alpesi síelés címének stílusa */

#alpesi h2 {
    color: red;
    padding: 20px 0px 20px 0px;
    max-width: 80%;
}


/* Nordikus síelés címének stílusa */

#nordikus h2 {
    color: green;
    padding: 20px 0px 20px 0px;
    max-width: 80%;
}

main {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

h1 {
    background-color: rgba(68, 192, 226, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-style: italic;
}

.nav-item {
    font-size: 25px;
}

h2 {
    color: #007bff;
    border-right: 3px, dotted, #007bff, thick;
    font-variant: small-caps;
    margin: 5px 15px 5px 15px;
}

.card-body {
    resize: 20px;
    text-align: justify;
}

#kepgaleria img {
    border-radius: 10px;
}

#kekszi {
    list-style-image: url(../images/man-skiing.png);
    font-weight: bold;
}

tr:first-child {
    text-transform: uppercase;
}