/* Fejléc stílusa */

 

header {

background-image: url("../images/bg1.jpg");

background-size: cover;

background-position: center;

height: 300px;

}





/* Menüpontok stílusa */


.nav-link {

font-weight: bold;

}



.nav {
background-color: #007bff;

}



.navbar {

color: white;

}





/* Aktív menüpont stílusa */



.nav-item.active .nav-link {

color: white;

}





/* Alpesi síelés címének stílusa */



#alpesi h2 {

color: red;

}





/* Nordikus síelés címének stílusa */



#nordikus h2 {

color: green;

}



main {

background-color: rgba(255, 255, 255, 0.75);
font-size: 20px;

}



h1 {

background-color: rgb(68, 192, 226, 0.75);
font-family: Arial, Helvetica, sans-serif;
color: #ffff;
font-style: italic;

}

.nav-item{
font-size: 25px;

}

h2{
color: #007bff;
border-left: 3 px, dotted ,#007bff, thick;
font-variant:small-caps;
margin: 5, 15, 5, 15;

}

#alpesi img{

padding-left: 0px;
padding-top: 20px;
padding-right: 0px;
padding-bottom: 20px;
max-width: 80%;

}

#nordikus img{
padding-left: 0px;
padding-top: 20px;
padding-right: 0px;

padding-bottom: 20px;

max-width: 80%;

}

#kepgaleria img {

border-radius: 10px;

}

.card-body{

size: 20px;

text-align: justify;

}

#alma{

list-style-image: url(../images/man-skiing.png);

font-weight: bold;

}