#studioName{
    text-decoration: underline;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    color: rgb(14, 13, 13);
}
.container{
    padding-bottom: 30px;
}
#progressBar {
    width: 0%;
    height: 20px;
    background-color: green;
    transition: width 0.5s ease-in-out;
    margin-top: 10px;
}