header {
    background-image: url("../images/bg1.jpg");
    background-position: center;
    height: 300px;
}
.nav-item .nav-link{
    font-size: 25px;
    font-weight: bold;
}
.nav{
    background-color: #007bff;
}
.nav-item.active .nav-link .navbar {
    color: white;
}
.card-body{
    text-align: justify;
}
main {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}
h2{
    border: 3px;
    border-color: #007bff;
    font-variant: small-caps;
    margin-left: 5;
    margin-right: 5;
    margin-top: 15;
    margin-bottom: 15;
}
#alpesi h2 {
    color: red;
}
#nordikus h2 {
    color: green;
}
#freestyle h2{
    color: #007bff;
}
.a{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 80%;
}
.ehe {
    background-color: rgba(68, 192, 226, 0.750);
    font-family: Arial;
    font-style: italic;
    color:#ffff;
}
.dayo{
    list-style-image: url("../images/man-skiing.png");
}